.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 设置全局字体和背景 */
body {
  font-family: 'Georgia', serif;
  background-color: #f4f1e1; /* 暖色调背景 */
  color: #3c2a21;  /* 深棕色文本 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 页眉 */
h1 {
  font-family: 'Times New Roman', serif;
  color:white; /* 古典的深红色 */
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 链接样式 */
a {
  color: #8c4a2e; /* 深红色 */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #d79a4f;  /* 鼠标悬停时改变颜色 */
  text-decoration: underline;
}

/* 页面内容 */
.home {
  padding: 40px 20px;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

button {
  background-color: #0a192f;  /* 深蓝色背景 */
  color: #64ffda;             /* 荧光蓝文字 */
  border: 2px solid #64ffda;  /* 荧光蓝边框 */
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;  /* 更现代的字体 */
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

button:hover {
  background-color: #112240;   /* 深蓝背景略变浅 */
  box-shadow: 0 0 15px #64ffda; /* 发光效果 */
  transform: scale(1.1);       /* 悬停时轻微放大 */
}

/* 为路由链接添加底部边框 */
a {
  display: inline-block;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}



