* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 确保边框和内边距不会影响元素尺寸 */
  }

/* 主页整体布局 */
.home {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* 导航栏样式 */
  .navbar {
    background-color: #B36D61;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
  }
  
  .navbar li {
    margin: 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #f0a500;
  }
  
  /* 页面主体内容 */
  .main-content {
    text-align: center;
    flex-grow: 1; /* 填充剩余空间 */
  }
  
  /* 尾栏样式 */
  .footer {
    background-color: #549688;
    color: #FFFFFF;
    padding: 60px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }


  